# list and its default functions

In [ ]:
lst = ["saipriya",7,9398,100.1,[4,5,6]]

In [2]:
lst

['saipriya', 7, 9398, 100.1, [4, 5, 6]]

In [3]:
lst.append("vyshu")

In [4]:
lst

['saipriya', 7, 9398, 100.1, [4, 5, 6], 'vyshu']

In [14]:
lst

[]

In [15]:
lst = ["priya",3,7,90.5]

In [16]:
lst

['priya', 3, 7, 90.5]

In [17]:
lst.index(3)

1

In [18]:
lst.insert(2,"vyshu")

In [19]:
lst

['priya', 3, 'vyshu', 7, 90.5]

In [20]:
lt1 = [1,2,3]

In [21]:
lt1

[1, 2, 3]

In [22]:
lt1.extend(lst)

In [23]:
lt1

[1, 2, 3, 'priya', 3, 'vyshu', 7, 90.5]

In [24]:
lt1.count(3)

2

In [26]:
lt1.pop(0)

1

In [28]:
del lt1[1]

In [29]:
lt1

[2, 'priya', 3, 'vyshu', 7, 90.5]

In [30]:
lt1.remove(7)

In [31]:
lt1

[2, 'priya', 3, 'vyshu', 90.5]

# dictionary and its default functions

In [34]:
dit = {"name":"priya","age":"21","num":"9398691343"}

In [35]:
dit

{'name': 'priya', 'age': '21', 'num': '9398691343'}

In [37]:
dit.get("name")

'priya'

In [38]:
dit.items()

dict_items([('name', 'priya'), ('age', '21'), ('num', '9398691343')])

In [39]:
dit.keys()

dict_keys(['name', 'age', 'num'])

In [40]:
dit.pop("num")

'9398691343'

In [41]:
dit

{'name': 'priya', 'age': '21'}

In [42]:
dit["school"] = "mts"

In [43]:
dit

{'name': 'priya', 'age': '21', 'school': 'mts'}

In [45]:
del dit["age"]

In [46]:
dit

{'name': 'priya', 'school': 'mts'}

In [47]:
dit.clear()

In [48]:
dit

{}

# sets

In [49]:
st = {"priya","123456",7,8,9,1,2,3}

In [50]:
st

{1, '123456', 2, 3, 7, 8, 9, 'priya'}

In [51]:
st1 = {2,3,7,8,9}

In [52]:
st1

{2, 3, 7, 8, 9}

In [53]:
st1.issubset(st)

True

In [4]:
a = {"apple","banana","orange"}

In [5]:
a

{'apple', 'banana', 'orange'}

In [6]:
b = {"grapes","mango","apple"}

In [7]:
b

{'apple', 'grapes', 'mango'}

In [9]:
c = a.intersection(b)

In [10]:
c

{'apple'}

In [11]:
d = a.union(b)

In [12]:
d

{'apple', 'banana', 'grapes', 'mango', 'orange'}

In [13]:
e = a.difference(b)

In [14]:
e

{'banana', 'orange'}

# tuples

In [15]:
tp = ("priya","@","vyshu")

In [16]:
tp

('priya', '@', 'vyshu')

In [17]:
tp.count("@")

1

In [18]:
tp.index("vyshu")

2

# strings

In [19]:
st = "kaktiya university"

In [20]:
st

'kaktiya university'

In [22]:
st.upper()

'KAKTIYA UNIVERSITY'

In [23]:
st.lower()

'kaktiya university'

In [24]:
st1 = "saipriyakamera" "@" "12345"

In [25]:
st1

'saipriyakamera@12345'

In [26]:
st1.isnumeric()

False

In [29]:
st1.istitle()

False

In [30]:
len(st1)

20

In [32]:
st1.split()

['saipriyakamera@12345']